*{
    margin: 0;
    box-sizing: border-box;
}
ul
{
    padding :0;
    list-style-type: none;
}

a
{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

.bd-grid
{
    max-width: 1024px;
    display:grid;
    grid-template-columns: 100%;
    column-gap:2rem;
    width: calc(100% -2rem);
    margin-left:1rem;
    margin-right:1rem;
}

header.header
{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index: 100;
    background-color:#FCA4A6;

}

/*nav */
.nav
{
    height:3rem ;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:768px)
{
    .nav__menu
    {
        position:fixed;
        top:0;
        right:-100%;
        width:70%;
        height:100%;
        padding:3.5rem 1.5rem 0;
        background: rgba(255,255,255,0.3);
        backdrop-filter: blur(10px);
        transition: .5;
    }
}

.nav__close{
    position: absolute;
    top: .75rem;
    right:1rem;
    font-size:1.5rem;
    cursor:pointer;
}

.nav__item{
    margin-bottom:2rem;

}
.nav__close,.nav__toggle,.nav__link,.nav__logo{
    color:#FCF8F8;
}
.nav__toggle{
    font-size: 1.5rem;
    cursor: pointer;

}

/* .show{
    right:0;
}

.home{
    background: #FCA4A6;
    overflow: hidden;
}
.home__container{
    height:calc(100vh -3rem);
    grid-template-rows:repeat(2,max-content);
    row-gap:1.5rem;
}

.home__img{
    position: relative;
    padding-top: 1.5rem;
    justify-self: center;
    width: 302px;
    height: 233px;
}

.home__img img{
    position: absolute;
    top:20px;
    left:50%;
}

.home__data{
    color:#FCF8F8
}

.home__title{
    font-size:2.5rem;
    line-height: 1.3;
    margin-bottom: 1rem;
}

.home__description{
    margin-bottom: 2.5rem;
}

.home__button{
    display:inline-block;
    background: #C1576A;
    color:#FCF8F8;
    padding:1.125rem 2rem;
    border-radius: .5rem;
}

.home__button:hover{
    background-color: #A83E51;
} */
